{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> Catatan : Buatlah halaman detail movie sesuai selera dan kreatifitas kalian </h1>

    <br>
    <h2> Raw Data (json) </h2>
    <p> {{ movie }} </p>
    <hr>
    <h2> Contoh cara mengambil judul: </h2>
    <h1 style="color:red"> {{ movie.title}} </h1>

    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}